.block {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2mm;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
}

.flip {
  transform: scaleX(-1);
}
