.card {
  width: var(--width);
  height: var(--height);
  border: 1px solid rgb(200, 200, 200);
  margin: -0.5px;
  position: relative;
}

.heading {
  position: absolute;
  top: 0.55cm;
  right: 0.7cm;
}

.content {
  position: absolute;
  top: 1.05cm;
  left: 0.66cm;
  width: calc(var(--width) - 1.3cm);
  height: calc(var(--height) - 1.6cm);
}
