.sheet {
  width: var(--page-width);
  height: var(--page-height);
  min-height: var(--page-height);
  padding: 7mm;
  margin: 10mm auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}

@page landscape {
  size: a4 landscape;
}

@media print {
  html,
  body {
    margin: 0;
    width: var(--page-width);
    height: var(--page-height);
  }

  .sheet {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    break-inside: avoid;
    break-after: always;
  }
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: start;
}
