@font-face {
  font-family: "OCR A";
  src: url(/ocrabeckerrus_lat.otf) format("opentype");
}

@font-face {
  font-family: "Gotham";
  src: url(/gotham_medium.otf) format("opentype");
}

p {
  margin: 1mm;
}
